﻿<h3 style="text-align:center">Home</h3>
    
<div class="container">
    <div class="row-fluid">
            
        <h5> Just a table for the moment...</h5>
        
        <table class="table table-bordered">
	        <thead>
	            <tr>
	                <th>Letter</th>
	                <th>Number</th>
	            </tr>
	        </thead>
	        <tbody style="font-size: initial;">
	        	<tr ng-repeat="(letter, number) in home">

	                    <td>{{letter}}</td>
	                    <td>{{number}}</td>

	        	</tr>
	        </tbody>
	    </table>

	</div>
</div>